Repository walmartlabs/cookie-cutter, pull requests merged in 2020-01, with the labels that each got.

#11 Bump up the versions for google cloud NPM packages
  packages/gcp/package.json
Labels: dependencies

#40 Integration command exits with jest exit code
  packages/azure/package.json
  packages/mssql/package.json
  packages/redis/package.json
  packages/s3/package.json
  yarn.lock
Labels: M-azure, M-mssql, M-redis, M-s3, bug

#43 Fix failing Kafka integration test
  packages/kafka/package.json
  packages/kafka/src/__test__/KafkaNonTransactional.integration.test.ts
Labels: M-kafka, bug

#46 Remove Deprecated new buffer usage
  packages/azure/package.json
  packages/azure/src/__test__/dummyEncoder.ts
  packages/azure/src/__test__/event-sourced/internal/CosmosStateAggregationSource.test.ts
  packages/azure/src/__test__/utils/QueueClient.test.ts
  packages/core/package.json
  packages/core/src/__test__/defaults/ConventionBasedMessageDispatcher.test.ts
  packages/core/src/__test__/defaults/ConventionBasedStateAggregator.test.ts
  packages/core/src/__test__/defaults/CsvMessageEncoder.test.ts
  packages/core/src/__test__/defaults/EncodedMessage.test.ts
  packages/core/src/__test__/defaults/JsonMessageEncoder.test.ts
  packages/core/src/defaults/CsvMessageEncoder.ts
  packages/core/src/defaults/JsonMessageEncoder.ts
  packages/core/src/defaults/NullMessageEncoder.ts
  packages/core/src/snapshot.ts
  packages/gcp/package.json
  packages/gcp/src/__test__/GcsClient.test.ts
  packages/grpc/package.json
  packages/grpc/src/internal/pbjs.ts
  packages/kafka/package.json
  packages/kafka/src/KafkaSink.ts
  packages/kafka/src/__test__/KafkaSource.test.ts
  packages/kafka/src/__test__/Partitioner.test.ts
  packages/kubernetes/package.json
  packages/kubernetes/src/KubernetesAdmissionControllerSource.ts
  packages/proto/package.json
  packages/proto/src/ProtoJsonMessageEncoder.ts
  packages/proto/src/__test__/ProtoJsonMessageEncoder.test.ts
  packages/s3/package.json
  packages/s3/src/MultipartUploader.ts
  packages/s3/src/S3Client.ts
  packages/s3/src/__test__/S3.integration.test.ts
Labels: enhancement

#38 Support Changes in Metrics Tags for Prometheus
  .gitignore
  .travis.yml
  packages/prometheus/config/prometheus.yml
  packages/prometheus/docker-compose.yml
  packages/prometheus/package.json
  packages/prometheus/src/__test__/endToEnd.test.ts
  packages/prometheus/src/__test__/helper.ts
  packages/prometheus/src/__test__/prometheus.integration.test.ts
  packages/prometheus/src/__test__/prometheus.test.ts
  packages/prometheus/src/config.ts
  packages/prometheus/src/index.ts
  packages/prometheus/src/models.ts
  yarn.lock
Labels: M-prometheus, enhancement

#48 kubernetes: adjust logic for creating a watch
  packages/azure/package.json
  packages/azure/src/__test__/utils/QueueClient.test.ts
  packages/azure/src/utils/QueueClient.ts
  packages/kubernetes/package.json
  packages/kubernetes/src/KubernetesWatchSource.ts
  packages/kubernetes/src/index.ts
  yarn.lock
Labels: M-azure, M-k8s, bug

#50 Revert commit of incorrect yarn.lock from #48
  yarn.lock
Labels: dependencies

#53 build: fix grep check to only match if we're using node 8
  .travis.yml
Labels: bug
