Repository walmartlabs/cookie-cutter, pull requests merged in 2020-05, with the labels that each got.

#93 Add Dead Letter Queue to QueueInputSource
  docs/docs/Module_Azure.md
  packages/azure/package.json
  packages/azure/src/streaming/index.ts
  packages/azure/src/streaming/internal/QueueInputSource.ts
  packages/azure/src/streaming/internal/QueueOutputSink.ts
  packages/azure/src/streaming/internal/config.ts
  packages/azure/src/utils/QueueClient.ts
Labels: M-azure, enhancement

#111 upgrade dependencies due to vulnerabilities
  examples/azure-queue/package.json
  examples/grpc-chat/package.json
  examples/grpc-echo-service/package.json
  examples/integration-tests/package.json
  examples/redis-service/package.json
  package.json
  package.v8.json
  packages/azure/package.json
  packages/grpc/package.json
  packages/instana/package.json
  packages/kafka/package.json
  packages/lightstep/package.json
  packages/proto/package.json
  packages/redis/package.json
  packages/s3/package.json
  packages/statsd/package.json
  yarn.lock
Labels: dependencies

#112 merge release/1.2 into develop
  .travis.yml
  examples/azure-queue/package.json
  examples/grpc-chat/package.json
  examples/grpc-echo-service/package.json
  examples/integration-tests/package.json
  examples/redis-service/package.json
  package.json
  package.v8.json
  packages/azure/package.json
  packages/grpc/package.json
  packages/instana/package.json
  packages/kafka/package.json
  packages/lightstep/package.json
  packages/proto/package.json
  packages/s3/package.json
  packages/statsd/package.json
  yarn.lock
Labels: dependencies

#113 Remove support for node 8
  .travis.yml
  package.json
  package.v8.json
Labels: dependencies

#114 core: unable to close bounded priority queue
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#115 core: unable to close bounded priority queue
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#116 core: unable to close bounded priority queue
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#121 Fix breaking API change in Azure Queues
  packages/azure/package.json
  packages/azure/src/streaming/index.ts
  packages/azure/src/streaming/internal/config.ts
  packages/core/package.json
  packages/core/src/__test__/config.test.ts
  packages/core/src/config.ts
Labels: M-azure, M-core, bug, enhancement

#124 ConcurrentMessageProcessor suppresses error details
  packages/core/package.json
  packages/core/src/internal/processor/ConcurrentMessageProcessor.ts
Labels: M-core, bug

#122 Fix breaking API change in Azure Queues
  docs/docs/Module_Azure.md
  packages/azure/package.json
  packages/azure/src/streaming/index.ts
  packages/azure/src/streaming/internal/config.ts
  packages/core/package.json
  packages/core/src/__test__/config.test.ts
  packages/core/src/config.ts
Labels: M-azure, M-core, bug, enhancement
