Repository walmartlabs/cookie-cutter, pull requests merged in 2020-06, with the labels that each got.

#126 Add RedisStreamSink & RedisStreamSource
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisProxy.ts
  packages/redis/src/RedisStreamSink.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/__test__/redisClient.integration.test.ts
  packages/redis/src/__test__/redisClient.test.ts
  packages/redis/src/__test__/redisProxy.test.ts
  packages/redis/src/config.ts
  packages/redis/src/index.ts
  yarn.lock
Labels: M-redis, enhancement

#125 Add GCP PubSub Sink
  packages/gcp/package.json
  packages/gcp/src/PubSubSink.ts
  packages/gcp/src/__test__/PubSubSink.test.ts
  packages/gcp/src/config.ts
  packages/gcp/src/index.ts
  yarn.lock
Labels: M-gcp, enhancement

#127 Bump Redis version to publish new package
  packages/redis/package.json
Labels: M-redis

#128 prometheus module should not throw an error when incrementing by 0
  packages/prometheus/package.json
  packages/prometheus/src/__test__/prometheus.test.ts
  packages/prometheus/src/index.ts
Labels: M-prometheus, bug

#134 Prevent config.parse() output from being used as input
  packages/core/package.json
  packages/core/src/config.ts
Labels: M-core, enhancement

#140 fix MsSqlSink throws wrong error
  packages/mssql/package.json
  packages/mssql/src/MssqlSink.ts
Labels: M-mssql, bug

#136 Add AMQP Sink + Source
  .travis.yml
  packages/amqp/docker-compose.yml
  packages/amqp/package.json
  packages/amqp/src/AmqpSink.ts
  packages/amqp/src/AmqpSource.ts
  packages/amqp/src/__test__/amqp.integration.test.ts
  packages/amqp/src/config.ts
  packages/amqp/src/index.ts
  packages/amqp/tsconfig.json
  yarn.lock
Labels: M-amq, enhancement

#144 Add metrics to AMQP
  packages/amqp/package.json
  packages/amqp/src/AmqpSink.ts
  packages/amqp/src/AmqpSource.ts
  packages/amqp/src/__test__/amqp.integration.test.ts
  packages/amqp/src/index.ts
Labels: M-amq, enhancement

#147 Add docs to AMQP package
  docs/docs/Module_Amqp.md
  docs/website/i18n/en.json
  docs/website/sidebars.json
  examples/amqp-messages/README.md
  examples/amqp-messages/package.json
  examples/amqp-messages/src/consumer.ts
  examples/amqp-messages/src/model.ts
  examples/amqp-messages/src/producer.ts
  examples/amqp-messages/tsconfig.json
  packages/amqp/src/AmqpSink.ts
  packages/amqp/src/AmqpSource.ts
  packages/amqp/src/__test__/amqp.integration.test.ts
  packages/amqp/src/config.ts
  packages/amqp/src/index.ts
Labels: M-amq, documentation
