Repository walmartlabs/cookie-cutter, pull requests merged in 2020-09, with the labels that each got.

#181 Allow negative values in Prometheus histogram
  packages/prometheus/package.json
  packages/prometheus/src/__test__/prometheus.test.ts
  packages/prometheus/src/index.ts
Labels: M-prometheus, enhancement

#180 Prevent BoundedPriorityQueue from deprioritizing waiting enqueue calls
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/internal/processor/ConcurrentMessageProcessor.ts
  packages/core/src/internal/processor/RpcMessageProcessor.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#183 Version bump for Proto change
  packages/proto/package.json
Labels: M-redis

#184 Change LogLevel from Error -> Warn when retrieving Kafka watermarks
  packages/kafka/package.json
  packages/kafka/src/KafkaConsumer.ts
Labels: M-kafka, enhancement

#187 fix 'yarn audit' issues [full ci]
  package.json
  packages/azure/package.json
  packages/core/package.json
  packages/grpc/package.json
  packages/instana/package.json
  packages/jaeger/package.json
  packages/kafka/package.json
  packages/kubernetes/package.json
  packages/mssql/package.json
  packages/prometheus/package.json
  packages/s3/package.json
  packages/statsd/package.json
  yarn.lock
Labels: dependencies

#189 fix sec vuln in node-fetch
  package.json
  packages/s3/package.json
  yarn.lock
Labels: dependencies

#193 Add AMQP package to README
  README.md
Labels: documentation

#195 kubernetes: adjust logging to be less verbose
  packages/kubernetes/package.json
  packages/kubernetes/src/KubernetesPollSource.ts
  packages/kubernetes/src/KubernetesWatchSource.ts
Labels: M-k8s

#186 detect when kafkajs is stuck with stale broker metadata
  packages/kafka/package.json
  packages/kafka/src/KafkaConsumer.ts
Labels: M-kafka, bug

#197 Fix wrong string function in Kafka
  packages/kafka/package.json
  packages/kafka/src/KafkaConsumer.ts
Labels: M-kafka, bug
