Repository walmartlabs/cookie-cutter, pull requests merged in 2020-08, with the labels that each got.

#155 cookie-cutter-redis: add support for multiple streams
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisStreamSink.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/__test__/redisClient.integration.test.ts
  packages/redis/src/config.ts
  packages/redis/src/index.ts
Labels: M-redis

#160 Have separate queue capacity per priority level
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#158 Add new Jaeger package to README
  README.md
Labels: M-jaeger

#163 fix broken metrics, reclaim PEL messages less often
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisStreamSink.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/config.ts
  packages/redis/src/index.ts
Labels: M-redis, bug

#162 Have separate queue capacity per priority level
  packages/core/package.json
  packages/core/src/__test__/utils/BoundedPriorityQueue.test.ts
  packages/core/src/utils/BoundedPriorityQueue.ts
Labels: M-core, bug

#164 fix pending list not fully drained on startup, added password config
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisProxy.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/__test__/redisClient.integration.test.ts
  packages/redis/src/config.ts
  packages/redis/src/index.ts
Labels: M-redis, bug

#168 fix messages are acked on error
  packages/redis/package.json
  packages/redis/src/RedisStreamSource.ts
Labels: M-redis, bug

#170 fix xReadGroup ignores all but first message from batch
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/__test__/redisClient.test.ts
Labels: M-redis, bug

#171 cleanup redis stream implementation
  docs/docs/Module_Redis.md
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
  packages/redis/src/RedisProxy.ts
  packages/redis/src/RedisStreamSink.ts
  packages/redis/src/RedisStreamSource.ts
  packages/redis/src/__test__/client.integration.test.ts
  packages/redis/src/__test__/protocol.test.ts
  packages/redis/src/__test__/redisClient.integration.test.ts
  packages/redis/src/__test__/redisClient.test.ts
  packages/redis/src/__test__/redisProxy.test.ts
  packages/redis/src/__test__/stream.integration.test.ts
  packages/redis/src/__test__/utils.ts
  packages/redis/src/config.ts
  packages/redis/src/index.ts
  yarn.lock
Labels: M-redis, enhancement

#177 make some redis options nullable so the default value can be overwrit…
  packages/core/src/__test__/config.test.ts
  packages/redis/package.json
  packages/redis/src/index.ts
Labels: M-redis, bug

#179 troubleshoot redis stream issue
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
Labels: M-redis, bug
