Repository walmartlabs/cookie-cutter, pull requests merged in 2020-04, with the labels that each got.

#86 Update dependencies for Node 8
  package.json
  package.v8.json
  yarn.lock
Labels: dependencies

#89 Reveal az blob & queue service url params, to allow for pointing at a local emulator.
  packages/azure/package.json
  packages/azure/src/config.ts
  packages/azure/src/index.ts
  packages/azure/src/streaming/index.ts
  packages/azure/src/streaming/internal/config.ts
  packages/azure/src/utils/BlobClient.ts
  packages/azure/src/utils/QueueClient.ts
Labels: M-azure, enhancement

#82 Way to Inspect 'Invalid' Messages
  docs/docs/Introduction_MessageHandling.md
  packages/core/package.json
  packages/core/src/__test__/Application.test.ts
  packages/core/src/__test__/defaults/ConventionBasedMessageDispatcher.test.ts
  packages/core/src/defaults/ConventionBasedMessageDispatcher.ts
  packages/core/src/internal/processor/BaseMessageProcessor.ts
  packages/core/src/internal/processor/ConcurrentMessageProcessor.ts
  packages/core/src/internal/processor/SerialMessageProcessor.ts
  packages/core/src/model/dispatch.ts
  packages/core/src/testing.ts
Labels: M-core, enhancement

#91 Better Log Message when a Message Fails to Process and fix to upsertSproc SeqConErr details
  packages/azure/package.json
  packages/azure/src/resources/upsertSproc.js
  packages/core/package.json
  packages/core/src/internal/processor/BaseMessageProcessor.ts
Labels: M-azure, M-core, enhancement

#98 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation
