Repository walmartlabs/cookie-cutter, pull requests merged in 2021-05, with the labels that each got.

#229 Log out a detailed error msg while inserting data into big query
  packages/gcp/package.json
  packages/gcp/src/BigQueryClient.ts
Labels: M-gcp, enhancement

#232 Switch Yarn audit level to critical
  .travis.yml
Labels: bug, dependencies

#234 Properly connect/disconnect Kafkajs producer
  packages/kafka/package.json
  packages/kafka/src/__test__/KafkaNonTransactional.integration.test.ts
Labels: M-kafka, bug

#235 Updating version of mssql to recent
  packages/mssql/package.json
  packages/mssql/src/MssqlSink.ts
  packages/mssql/src/__test__/mssql.integration.test.ts
  packages/mssql/src/index.ts
Labels: M-mssql, dependencies

#230 Add TLS support to Kafka package
  packages/kafka/package.json
  packages/kafka/src/KafkaConsumer.ts
  packages/kafka/src/KafkaSink.ts
  packages/kafka/src/__test__/KafkaNonTransactional.integration.test.ts
  packages/kafka/src/__test__/KafkaTransactional.integration.test.ts
  packages/kafka/src/config.ts
  packages/kafka/src/index.ts
Labels: M-kafka, enhancement
