Repository walmartlabs/cookie-cutter, pull requests merged in 2021-06, with the labels that each got.

#220 Fixed issue with wrong grpcClient timing metric's unit
  packages/grpc/package.json
  packages/grpc/src/internal/GrpcInputSource.ts
  packages/grpc/src/internal/client.ts
Labels: M-grcp, bug

#236 Update packages to reduce vulnerabilities
  .travis.yml
  docs/website/package.json
  examples/grpc-chat/package.json
  examples/grpc-echo-service/package.json
  package.json
  packages/amqp/package.json
  packages/azure/package.json
  packages/core/package.json
  packages/core/src/__test__/Application.test.ts
  packages/grpc/package.json
  packages/jaeger/package.json
  packages/kubernetes/package.json
  packages/lightstep/package.json
  packages/redis/package.json
  yarn.lock
Labels: dependencies

#240 Include `ttl` setting when storing to Azure cosmosDB
  packages/azure/package.json
  packages/azure/src/__test__/event-sourced/internal/CosmosOutputSink.test.ts
  packages/azure/src/event-sourced/internal/CosmosOutputSink.ts
  packages/azure/src/index.ts
  packages/azure/src/materialized/internal/CosmosOutputSink.ts
  packages/azure/src/utils/index.ts
Labels: M-azure, enhancement

#233 Handle url separately from connectionString
  packages/azure/package.json
  packages/azure/src/__test__/utils/QueueClient.integration.test.ts
  packages/azure/src/config.ts
  packages/azure/src/index.ts
  packages/azure/src/streaming/index.ts
  packages/azure/src/streaming/internal/config.ts
  packages/azure/src/utils/BlobClient.ts
  packages/azure/src/utils/QueueClient.ts
Labels: M-azure, bug

#243 Missing `metadata` param from `IDispatchContext` interface
  packages/core/package.json
  packages/core/src/model/dispatch.ts
Labels: M-core, enhancement

#250 Add full workflow to master
  .github/workflows/master.node.js.yml
  .github/workflows/node.js.yml
Labels: enhancement

#253 Core application test increase timeout
  .github/workflows/node.js.yml
  packages/core/src/__test__/Application.test.ts
Labels: M-core, bug

#242 Add full workflow to develop
  .github/workflows/develop.node.js.yml
  .github/workflows/node.js.yml
Labels: enhancement

#252 Azure Integration not failing on failed tests
  docs/docs/Module_Grpc.md
  packages/azure/integrate.sh
  packages/azure/package.json
  packages/azure/run_integration_tests.ps1
  packages/azure/src/utils/BlobClient.ts
  packages/azure/src/utils/QueueClient.ts
Labels: M-azure, bug

#259 Properly connect/disconnect Kafkajs producer mstr
  packages/kafka/src/__test__/KafkaNonTransactional.integration.test.ts
Labels: M-kafka, bug

#262 Remove extra if check from build step in master
  .github/workflows/node.js.yml
Labels: bug

#258 Convert Redis err to str then pass to Prometheus master
  docs/docs/Module_Grpc.md
  packages/redis/package.json
  packages/redis/src/RedisClient.ts
Labels: M-redis, bug
