Repository walmartlabs/cookie-cutter, pull requests merged in 2021-03, with the labels that each got.

#217 force application to restart on redis disconnect
  packages/redis/package.json
  packages/redis/src/RedisProxy.ts
Labels: M-redis, bug

#218 upgrading gcp dependencies in package
  packages/gcp/package.json
Labels: M-gcp, dependencies

#221 wrong error is being logged when redis ack fails
  packages/redis/package.json
  packages/redis/src/RedisStreamSource.ts
Labels: M-redis, bug

#214 Add more methods to Azure BlobClient and tweak few existing ones
  .travis.yml
  packages/azure/README.md
  packages/azure/integrate.sh
  packages/azure/package.json
  packages/azure/setup_env_vars_locally.sh
  packages/azure/src/__test__/event-sourced/internal/BlobStorageSnapshotOutputSink.test.ts
  packages/azure/src/__test__/event-sourced/internal/BlobStorageSnapshotProvider.test.ts
  packages/azure/src/__test__/utils/BlobClient.integration.test.ts
  packages/azure/src/__test__/utils/BlobClient.test.ts
  packages/azure/src/__test__/utils/QueueClientWithLargeItemSupport.test.ts
  packages/azure/src/config.ts
  packages/azure/src/event-sourced/internal/BlobStorageSnapshotOutputSink.ts
  packages/azure/src/event-sourced/internal/BlobStorageSnapshotProvider.ts
  packages/azure/src/index.ts
  packages/azure/src/utils/BlobClient.ts
  packages/azure/src/utils/QueueClientWithLargeItemSupport.ts
  packages/azure/start_emulators.ps1
  packages/azure/vm/Vagrantfile
  yarn.lock
Labels: M-azure, enhancement
