Repository walmartlabs/cookie-cutter, pull requests merged in 2022-02, with the labels that each got.

#321 pubsub doc updates and minor pubsub source code changes
  docs/docs/Module_GooglePubSub.md
  docs/website/i18n/en.json
  docs/website/sidebars.json
  packages/gcp/package.json
  packages/gcp/src/PubSubSource.ts
  packages/gcp/src/index.ts
Labels: M-gcp

#322 Fix vulnerabilities from Yarn Audit
  package.json
  yarn.lock
Labels: bug, dependencies

#323 Fix Integration Tests Azure and Redis
  package.json
  packages/azure/src/__test__/materialized/internal/MaterializedView.integration.test.ts
  packages/azure/src/__test__/utils/BlobClient.integration.test.ts
  packages/azure/src/__test__/utils/CosmosClient.integration.test.ts
  packages/azure/src/__test__/utils/QueueClient.integration.test.ts
  packages/redis/package.json
  packages/redis/src/index.ts
  yarn.lock
Labels: dependencies, M-azure, M-redis
